# LangChain and LangGraph Core
langchain
langchain-core
langgraph
langchain-community

# LLMs
langchain-google-genai
langchain-openai
langchain-anthropic

# Observability
langfuse

# Web UI and Data
streamlit
streamlit-autorefresh
pandas
plotly

# Flask and WebSocket
flask
flask-sock
gevent-websocket

# Env management
python-dotenv

# Whisper + TTS + Inference
openai-whisper
onnxruntime
piper-tts

# Memory / Embeddings
faiss-cpu
sentence-transformers
torch
